{% extends "base.html" %} {% block content %}

<h1>Admin Dashboard</h1>
<div class="dashboard-section">
  <h2>Users</h2>
  <ul class="user-list">
    {% for user in users %}
    <li>
      <img
        src="{{ user|profile_pic_url }}"
        alt="{{ user.username }}'s profile picture"
        class="profile-pic"
      />
      <a href="{{ url_for('user_profile', user_id=user.id) }}"
        >{{ user.username }}</a
      >
      ({{ user.email }})
    </li>
    {% endfor %}
  </ul>
</div>

<div class="dashboard-section">
  <h2>All Projects</h2>
  {% for project in projects %}
  <div class="project-item" data-project-id="{{ project.id }}">
    <span>{{ project.name }} - {{ project.description }}</span>
    <button class="btn delete-project" data-project-id="{{ project.id }}">
      Delete Project
    </button>
  </div>
  {% endfor %}
</div>

<div class="dashboard-section">
  <h2>All Tasks</h2>
  {% for task in tasks %}
  <div class="task-item">
    <h3>{{ task.title }} - {{ task.status }}</h3>
    <p>{{ task.description }}</p>
    <p>Due date: {{ task.due_date.strftime('%Y-%m-%d') }}</p>
    <p>Time spent: {{ task.formatted_time_spent }}</p>
    <p>
      Assigned to: {% for user in task.assigned_users %}
      <img
        src="{{ user|profile_pic_url }}"
        alt="{{ user.username }}'s profile picture"
        class="profile-pic"
      />{{ user.username }}{% if not loop.last %}, {% endif %} {% endfor %}
    </p>
    {% if task.files %}
    <h4>Uploaded Files:</h4>
    <ul class="uploaded-files">
      {% for file in task.files %}
      <li class="uploaded-file">
        {% if file.file_type == 'image' %}
        <img
          src="{{ url_for('serve_file', file_id=file.id) }}"
          alt="Uploaded image"
          class="uploaded-image"
        />
        {% endif %}
        <a href="{{ url_for('download_file', file_id=file.id) }}"
          >{{ file.filename }}</a
        >
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endfor %} {% endblock %}
