<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password - Project Management App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Reset Password</h1>
    </header>
    <main>
      <form
        action="{{ url_for('reset_password', token=request.view_args['token']) }}"
        method="post"
      >
        <input
          type="password"
          name="password"
          placeholder="New Password"
          required
        />
        <button type="submit">Update Password</button>
      </form>
    </main>
  </body>
</html>
