{% extends "base.html" %} {% block content %}

<h2>Add New Task</h2>
<form
  method="POST"
  enctype="multipart/form-data"
  id="addTaskForm"
  class="form-section"
>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <select name="project_id" required class="input-field">
    {% for project in projects %}
    <option value="{{ project.id }}">{{ project.name }}</option>
    {% endfor %}
  </select>
  <input
    type="text"
    name="task_title"
    placeholder="Task Title"
    required
    class="input-field"
  />
  <textarea
    name="task_description"
    placeholder="Task Description"
    class="input-field"
  ></textarea>
  <select name="task_status" required class="input-field">
    <option value="To Do">To Do</option>
    <option value="In Progress">In Progress</option>
    <option value="Done">Done</option>
  </select>
  <input type="date" name="due_date" required class="input-field" />
  <button type="button" id="openAssignUsersModal" class="btn">
    Assign Users
  </button>
  <input type="file" name="files[]" multiple class="input-field" />
  <button type="submit" name="add_task" class="btn">Add Task</button>
</form>

<div id="assignUsersModal" class="modal">
  <div class="modal-content">
    <h2>Assign Users</h2>
    {% for user in users %}
    <label>
      <input type="checkbox" name="assigned_to" value="{{ user.id }}" />
      <img
        src="{{ user|profile_pic_url }}"
        alt="{{ user.username }}'s profile picture"
        class="profile-pic"
      />{{ user.username }} </label
    ><br />
    {% endfor %}
    <button id="saveAssignedUsers" class="btn">Save</button>
    <button id="closeModal" class="btn">Cancel</button>
  </div>
</div>

<h2>All Tasks</h2>
<div id="allTasksContainer">
  {% for task in tasks %}
  <div class="task-item" data-project-id="{{ task.project_id }}">
    <h3>{{ task.title }} - {{ task.status }}</h3>
    <p>{{ task.description }}</p>
    <p>Due date: {{ task.due_date.strftime('%Y-%m-%d') }}</p>
    <p>Time spent: {{ task.formatted_time_spent }}</p>
    <p>
      Assigned to: {% for user in task.assigned_users %}
      <img
        src="{{ user|profile_pic_url }}"
        alt="{{ user.username }}'s profile picture"
        class="profile-pic"
      />{{ user.username }}{% if not loop.last %}, {% endif %} {% endfor %}
    </p>
    {% if task.files %}
    <h4>Uploaded Files:</h4>
    <ul class="uploaded-files">
      {% for file in task.files %}
      <li class="uploaded-file">
        {% if file.file_type == 'image' %}
        <img
          src="{{ url_for('serve_file', file_id=file.id) }}"
          alt="Uploaded image"
          class="uploaded-image"
        />
        {% endif %}
        <a href="{{ url_for('download_file', file_id=file.id) }}"
          >{{ file.filename }}</a
        >
        <button class="btn delete-file-btn" data-file-id="{{ file.id }}">
          Delete File
        </button>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <form
      action="{{ url_for('delete_task', task_id=task.id) }}"
      method="POST"
      onsubmit="return confirm('Are you sure you want to delete this task?');"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" class="btn">Delete Task</button>
    </form>
  </div>
  {% endfor %}
</div>

{% endblock %}
