{% extends "base.html" %} {% block content %}
<div class="row align-items-center">
  <div class="row">
    <table class="user_table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
          <th>Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>
            <img
              src="{{ user|profile_pic_url }}"
              alt="{{ user.username }}'s profile picture"
            />
          </td>
          <td>
            <a
              href="{{ url_for('user_profile', user_id=user.id) }}"
              class="text-dark"
              >{{ user.username }}</a
            >
          </td>
          <td><span class="user-role">Admin</span></td>
          <td>{{ user.email }}</td>
          <td>2023-01-01</td>
          <td>
            <span class="status online"
              >{% if user.is_active %}Active{% else %}Inactive{% endif %}</span
            >
          </td>
          <td>
            <a
              href="{{ url_for('user_profile', user_id=user.id) }}"
              class="btn btn-outline btn-sm"
              >View Profile</a
            >
          </td>
        </tr>
        {% endfor %}
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
</div>

<style>
  .user_table thead tr th,
  .user_table tbody tr td {
    text-align: center;
  }
  .user_table tbody tr td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
</style>
{% endblock %}
